/* General styles */
*{
  font-family: Open Sans;
}
.main-container{
  width:100%;
  padding:6em;
}
:root{
  --main-color:#225dde;
  --dark-gray:#666c77;
}
textarea:focus,button:focus{
  border:none !important;
  outline:none !important;
}
input:focus{
  outline: none;
}
a:hover{
  text-decoration: none !important;
}

/* Navbar styles */
#main-nav{
  width: 100%;
  height:70px;
  background: #fff;
  border-bottom:1px solid #f2f2f2;
}
#main-nav .navbar-brand{
  display: inline-block;
  line-height: 60px;
}
#main-nav .navbar-brand img{
  height: 30px;
}
/* Hero styles */
#hero{
  height: calc(100vh - 70px);
  width:100%;
  background: #fff;
  display: flex;
}
#hero-bg{
  flex:3;
  background-image: url('../hero.svg');
  background-position: center 10px;
  background-size: contain;
  background-repeat: no-repeat;
}
#hero-content{
  flex:2;
  padding: 4.8em 6em;
  display: relative;
}
#hero-content h1{
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #225dde;
}
#hero-content h2{
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 2rem;
  color: #9da2b5;
  font-weight: 400;
}
.heading-border{
  width:75px;
  height:8px;
  background:#225dde;
}
    /* Search form */
.search-form{
  position:absolute;
  width: 450px;
  margin-top:3rem;
}
.search-form svg{
  position: absolute;
  width: 17px;
  height: 17px;
  top: 1.3rem;
  left: 1.3rem;
  fill: #2d56b3;
  z-index: 10;
  transition:all .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.search-form svg.moveup{
  left: calc( 100% - 2rem );
  cursor:pointer;
}
.search-form label{
  position: absolute;
  color: #bbbfcc;
  left: 3.5rem;
  top: 1.1rem;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: text;
  transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.search-form label.moveup{
  position: absolute;
  color:#0f1e3e;
  left: 0.5rem;
  top: -1.9rem;
  font-size:.8rem;
  font-weight: 600;
}
.search-form input{
  width: 100%;
  height: 60px;
  padding:0 2.5em 0 1rem;
  font-weight: 600;
  color: #407bff;
  font-size: 0.9rem;
  border: 1px solid #f0f4fd;
  border-radius: .2rem;
  box-shadow: 0 10px 10px -10px #eaeaea;
  transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.search-form input:focus{
  outline:none;
  border: 1px solid #215cde;
}
.search-form input:hover{

}


/* Suggestions section style */
.main-section{
  padding:3rem auto;
}
.section-title{
  color:var(--dark-gray);
  margin-bottom: 2rem;
}
.suggestions h2{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #b7bcc7;
  border-left: 4px solid #747d92;
  padding: 0.3rem 0.6em;
  margin-left: 1rem;
}
.suggestions span{
  padding: 1.2em 2.2em;
  display: inline-block;
  margin: .5em 1em .5em 0;
  border-radius: 2em;
  background-color: white;
  font-weight: 600;
  background: white;
  color: #9c9b9b;
  font-size: 0.8rem;
  cursor:pointer;
  transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.suggestions span:hover{
  color:var(--main-color);
}

/* Job offer section */
#job-offer{
  display: flex;
  height: 65vh;
}

#job-offer *{
  flex:1;
}

#job-offer h1{
  color:#fff;
}
#job-offer a{
  color: #fff;
  font-weight: 600;
  border: 2px solid #fff;
  padding: 1em 2em;
  margin-top: 1em;
  display: inline-block;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
#job-offer a:hover{
  text-decoration:none;
  background:#fff;
  color:var(--main-color);
}
#job-offer .section-right{
    background-image: url('../job-offer.svg');
    background-position: center 10px;
    background-size: contain;
    background-repeat: no-repeat;
}
#job-offer::before,#job-offer::after{
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
#job-offer::after{
  bottom: -50px;
  z-index: 10;
  background: inherit;
}
/* Functionnalities wrapper section  */
#func-wrapper{

}
#func-wrapper p{
  font-size: 1.3rem;
  color: var(--dark-gray);
}


/* ---------- News feed page design ---------- */

/* Feed navbar  */
.search-bar input{
  padding: 0.5rem;
  width: 300px;
  border: 1px solid #efefef;
  border-radius: 0.4rem;
  margin-left: 7rem;
  padding-left: 1rem;
}
.search-bar input::placeholder{
  color:#959595;
  font-size: .8rem;
  padding-left:.5rem;
}
.search-bar svg{
  position: absolute;
  width: 13px;
  right: 14px;
  top: 7px;
  fill: var(--main-color);
}
.feed-wrapper{
  display: flex;
  flex-wrap:nowrap;
  padding:0 1.5rem;
  align-items: flex-start;
}
.feed-wrapper .left-side,.feed-wrapper .right-side{
  width:300px;
  margin-top:1.5rem;
  position: sticky !important;
  top: 110px;
}
.feed-wrapper .left-side{
  background: #fff;
  position: relative;
  padding-bottom: 2rem;
  border-radius: .3rem;
}
.left-side .usr-avatar{
  width: 70px;
  height: 70px;
  width: 80px;
  height: 80px;
  line-height: 60px;
  font-size: 2.5rem;
  bottom: -40px;
  left:30%;
  margin:0 auto;
}
.left-side .usr-cover{
  margin:0;
  height:110px;
}
.left-side .usr-infos{
  text-align: center;
  margin-top: 3rem;
}
.left-side .usr-infos>span:first-child{
  font-weight: 600;
}
.left-side .usr-infos>span:last-child{
  display: block;
  color: #adadad;
}
.main-content{
  flex:1;
  position: relative;
  margin:0 1.5rem;
}
.user-actions{
  position: absolute;
  top: 24px;
  padding-right: 1rem;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #f7f7f7;
  text-align: right;
}
.user-actions a{
  background: none;
  border: none;
  margin: 0.6em .2em;
  border-radius: 0;
}
.user-actions a svg{
  width: 21px;
  height: 21px;
  fill: #689cff;
  display: inline-block;
  margin: .3em 0;
}
.create-post{
  position: relative;
}
.create-post textarea{
  margin: 2rem 0 1rem 0;
  padding: 4.5rem 1rem 2rem 2.5rem;
  border: none;
  box-shadow: 0 10px 10px -10px #eaeaea;
  border-radius: 0.3rem;
  resize:none;
  width:100%;
  font-weight: 500;
}
.create-post button{
  position: absolute;
  bottom: 22px;
  right: 28px;
  background: none;
  border: none;
  color: var(--main-color);
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.3rem 1.5rem;
  border-bottom: 3px solid var(--main-color);
  cursor: pointer;
}

.post{
  background: #fff;
  padding:1.5rem;
  box-shadow: 0 10px 10px -10px #eaeaea;
  border-radius: 0.3rem;
  margin:1.5rem 0;
}
.post .user-section{
  display: flex;
  background: #fff;
}
.post .user-avatar{
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
}
.post .user-infos{
  flex:1;
}
.post .user-infos span{
  display: block;
  margin: -0.2rem 0 0 0.7rem;
}
.post .user-infos span:first-child{
  font-weight: 600;
  font-size: 14px;
}
.post .user-infos span:nth-child(2){
  color: #b7becc;
  font-size: 13px;
}
.post .user-infos span:last-child{
  font-family: Open Sans;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 13px;
}
.post-content{
  margin-top:1.2rem;
}
.post-content p{
  font-family: Open Sans;
  font-weight: 400;
  color: #2d2d2d;
}
.post-actions{
  background: #ffffff;
  margin: 0 -1.5rem;
  padding: 0.9rem 1.5rem;
  border-top: 1px solid #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
}
.post-actions a{
  color: var(--dark-gray);
  font-weight: 500;
  margin-right: 1rem;
}
.post-actions a svg{
  width: 15px;
  height: 15px;
  margin-right: 0.2rem;
  fill: #7489ff;
  position: relative;
}
.post-stats{
  display: inline-block;
  float: right;
}
.post-stats>span{
  display: inline-block;
  font-family: Open Sans;
  display: inline-block;
  font-family: Open Sans;
  font-size: 12px;
  margin-right: 0.5rem;
  color: var(--dark-gray);
  cursor:pointer;
}
.post-comment{
  display: flex;
  margin-top:1.5rem;
}
.post-comment input{
  flex:1;
  border: 1px solid #e8e8e8;
  border-radius: 2rem;
  margin-left: .5rem;
  padding-left: 1rem;
  font-size: 13px;
}
.comments{
  padding:1rem 0;
}
.comment{
  display: flex;
  flex-wrap: wrap;
}
.comment .comment-content{
  background: #fff;
  flex:1;
}
.comment .user-avatar{
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
}
.comment .user-infos{
  flex:1;
  padding: .7rem 0 .5rem .3rem;
  background: #f8fafc;
  border-radius: 0 1rem 1rem 1rem;
  margin-left: 1rem;
  position: relative;
}
.comment .user-infos span{
  display: block;
  margin: -0.2rem 0 0 0.7rem;
}
.comment .user-infos span:first-child{
  font-weight: 600;
  font-size: 13px;
}
.comment .user-infos span:nth-child(2){
  color: #b7becc;
  font-size: 11px;
}
.comment .user-infos span:nth-child(3){
  font-family: Open Sans;
  margin: 0.5rem;
  font-size: 13px;
}

.comment .user-infos a{
  font-size: 12px;
  margin-left: 0.7rem;
  font-weight: bold;
  color: #679cff;
  display: inline-block;
}
.comment .user-infos span:last-child{
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  color: #9fa6af;
}
.post-reply{
  width:auto;
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
}
.post-reply input{
  flex:1;
  border: 1px solid #e8e8e8;
  border-radius: 2rem;
  margin-left: .5rem;
  padding-left: 1rem;
  font-size: 13px;
}
.replies{
  margin-left: 1rem;
}
.reply{
  display: flex;
  margin-top:1rem;
}
.reply-content{
  flex:1;
}
.comment-content>.user-infos span:nth-child(5),.reply-content>.user-infos span:nth-child(5){
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  background: #a3b5d2;
  color: #fff;
  border-radius: 0 1rem;
  padding: 0.4rem 0;
  text-align: center;
  font-weight: 500;
}
.comment-content>.user-infos svg,.reply-content>.user-infos svg{
  position: relative;
  bottom: 5px !important;
  width: 12px;
  height: 12px;
  fill: #fff;
  margin: 0.5rem auto 0 auto;
}
    /* Right side */
.feed-wrapper .right-side>div{
  background: #fff;
  padding: 1rem 1.5rem;
  box-shadow: 0 10px 10px -10px #eaeaea;
  margin-bottom: 1.5rem;
  border-radius: .3rem 0 .3rem .3rem;
}
.feed-wrapper .right-side .section-header{
  position: relative;
  margin-bottom:1rem;
  bottom:8px;
}
.feed-wrapper .right-side .section-header h3{
  font-size: 1.1rem;
  font-weight: 600;
}
.feed-wrapper .right-side>div .section-header>svg{
  position: absolute;
  width: 14px;
  height: 14px;
  top: -8px;
  right: -24px;
  background: #225cde;
  fill: white;
  padding: .8rem;
  box-sizing: content-box;
  border-radius: 0 0 0 1.2rem;
}
.section-header .line{
  width: 25px;
  height: 3px;
  background: var(--main-color);
}
/* Pages */
.pages{

}
.page{
  display: flex;
}
.page>div:first-child{
  text-align: center;
  color: white;
  font-weight: 600;
  line-height: 42px;
  width: 47px;
  height: 47px;
  background: var(--main-color);
  border: 3px solid #6993ef;
  border-radius: 50%;
}
.page>div:last-child{
  margin-left: .5rem;
}
.page span{
  display: block;
  font-weight: 600;
}
.page button{
  border: none;
  background: none;
  font-size: .8rem;
  color: #9d9d9d;
  padding: 0;
  margin-right: .5rem;
  font-weight: 600;
}
/* --------- Forms styles ----------*/
.form{
  box-shadow: 0 10px 10px -10px #eaeaea;
  border-radius: 0.3rem;
  width: 70%;
  background: #fff;
  margin: 1.5rem auto;
  display: flex;
}
.form .left-side{
  flex:1;
  padding: 1.5rem 2rem;
  border-radius: 0.3rem 0 0 .3rem;
  position: relative;
  background-image: url('../form-bg.svg');
  background-size:cover;
}

.form .right-side{
  flex:1;
  padding: 1.5rem 2rem;
}
.form .right-side h1{
  color:#3d4048;
}
.form .right-side .line{
  height: 5px;
  width: 50px;
  background: var(--main-color);
  margin-bottom: 2.5rem;
}
.form-field{
  margin:2rem 0;
  position: relative;
}
.form-field input{
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 0.2rem;
  border: 1px solid #dee3e6;
  font-weight: 500;
  color:var(--dark-gray);
  transition:all .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.form-field input:focus{
  border: 1px solid var(--main-color) !important;
}
.form-field label{
  line-height: 40px;
  font-weight: 500;
  font-size: 0.85rem;
  color: #adb4c4;
  display: block;
  margin-bottom:0;
  margin-left: .2rem;
  position: absolute;
  top: 5px;
  left: 15px;
  transition:all .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.form-field label.moveup{
  color: var(--main-color);
  font-size: 0.8rem;
  font-weight: 600;
  position: absolute;
  top: -32px;
}

.form-button button{
  float: right;
  background: var(--main-color);
  margin-top:1rem;
  padding: 0.5rem 1.2rem;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 1.2rem;
  font-size: 14px;
  cursor: pointer;
}

/* Dashboard index style */
.db-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 3rem;
}
.db-card{
  width: 300px;
  box-shadow: 0 10px 10px -10px #eaeaea;
  background: #fff;
  margin: 1rem;
  padding: 1rem;
  display: flex;
}

.db-card>div{
  flex:1;
  text-align: center;
}
.db-card .left-side{
  border-right: 1px solid #eaeaea;
}
.db-card .right-side>span{
  display: block;
  font-family: Open sans;
  font-weight: 600;
  font-size: 1.5rem;
  color: #F44336;
}
.db-card .left-side a{
  color: #3490dc;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 0.9rem;
}
.db-card .left-side svg{
  width: 25px;
  height: 25px;
  display: block;
  margin: 0 auto;
  fill: #42A5F5 !important;
  margin-bottom: .5rem;
}
.db-card .right-side a{
  color: #a0a5bb;
  font-weight: 600;
  font-size: 0.9rem;
  position: relative;
  bottom: 4px;
  transform: scale(.9);
  display: block;
}
.db-card .right-side a>span{
  font-size: 1rem;
  display: inline-block;
  height: 22px;
  line-height: 18px;
  width: 22px;
  border-radius: 50%;
  border: .1em solid #a2acbf;
}

/* Dashboard forms */
.db-form{
  background: #fff;
  width: 550px;
  margin: 0 auto;
  padding: 1.5rem 4rem;
  box-shadow: 0 10px 10px -10px #eaeaea;
  border-radius: .3rem;
}
.db-form .form-field{
  margin: 2rem 0;
  display: flex;
  position: relative;
}
.db-form h1{

}
.db-form .line{
  width: 50px;
  height: 4px;
  background: var(--main-color);
}
.db-form input{
  flex: 1;
  border: none;
  border: 1px solid #dbdde4;
  padding: 1.2rem 1rem;
  font-weight: 500;
  font-size: .9rem;
  color:var(--dark-gray);
  transition:all .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.db-form input:focus{
  border: 1px solid var(--main-color);
}
.db-form label{
  padding-right: 1rem;
  position: absolute;
  left: 14px;
  top:12px;
  font-weight: 500;
  font-size: 13px;
  color: #a1a3ab;
  text-transform: capitalize;
  transition:all .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.db-form label.moveup{
  top: -5px;
  font-size:9px;
  color: var(--main-color) !important;
  font-weight: 600;
}
.db-form button{
  padding: .5em 1.5em;
  background: var(--main-color);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 1.5em;
  margin-left: auto;
  display: block;
}
/* Profile section styles */
.profile-wrapper .right-side{
  width:300px;
  background: #fff;
  padding:0;
  box-shadow: 0 10px 10px -10px #eaeaea;
  border-radius: 0.3rem;
  margin:2rem 1rem;
}
.profile-wrapper .right-side button{
  display: block;
  width: 100%;
  background: #ffffff;
  border: none;
  color: #5a5c61;
  text-align: -webkit-match-parent;
  padding: 1rem 3rem;
  border-bottom: 1px solid whitesmoke;
  border-radius: 0;
  cursor: pointer;
}

.profile-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  align-items: flex-start;
}
.profile-wrapper .main-content{
  flex: 1;
  background: #fff;
  padding: 2rem 3rem;
  box-shadow: 0 10px 10px -10px #eaeaea;
  border-radius: 0.3rem;
  margin:2rem 1rem;
}
.usr-cover{
  height: 250px;
  background:;
  margin: -1.9rem -3rem 1.7rem -3rem;
  border-radius: .3rem .3rem 0 0;
  position: relative;
  background-image: url('../form-bg.svg');
  background-size:cover;
}
.usr-avatar{
  position: absolute;
  font-weight: 600;
  color: #fff;
  font-size: 3rem;
  right: 100px;
  bottom: -60px;
  background: var(--main-color);
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 108px;
  border-radius: 50%;
  border: 6px solid #fff;
}
.usr-section{
  margin-bottom: 2rem;
}
.usr-section .line{
  height: 4px;
  width: 40px;
  background: var(--main-color);
  margin-bottom: 1rem;
  margin-left: 0 !important
}
.usr-section h4{
  font-weight: 600;
  color: #2d2d2d;
  font-size: 1.1rem;
}
.usr-section>div{
  display: flex;
  margin:.5rem;
}
.usr-section div span:first-child{
  width: 250px;
  font-weight: 600;
}
.usr-section div span:last-child{
  color: #ababab;
}
/* Certification */
.certifications{
  flex-wrap: wrap;
}
.cert-group,.volunteer-group,.course{
  display: flex;
  margin-right:1rem;
  margin-bottom:1rem;
  border: 1px solid whitesmoke;
  padding: .5rem 1rem;
  max-width: 320px;
}
.cert-group button,.volunteer-group button,.course button{
  border: none;
  background: none;
}
.cert-group svg,.volunteer-group svg,.course svg{
  width: 15px;
  height: 15px;
  fill: #606369;
}
.certification{
  flex:1;
  display: inline-block;
}
.certification span{
  display: block;
}
.certification span:first-child{
  color: var(--main-color) !important;
}
/* Volunteer experience */
.volunteer-group{

}
.experience{

}
.experience span{
  display: block;
}
.experience span:first-child{
  color: var(--main-color);
}
.experience span:nth-child(2){
  color: #ababab;
  font-size: 0.8rem;
}
.experience span:last-child{

}
/* Courses  */
.courses{
  display: flex;
  flex-wrap: wrap;
}
.course span{
  line-height: 35px;
  color: #484343;
}

/* Modals */
.modal-header h5{
  font-weight: 600;
  font-size: 1rem;
  color: var(--main-color);
}
.modal-body>div{
  display: flex;
  margin: 1.5rem 1rem;
}
.modal-body>div span{
  width: 200px;
  line-height: 45px;
  font-weight: 600;
  font-size: 0.8rem;
  color: #615858;
}
.modal-body>div input{
  flex: 1;
  padding: 0.7rem .5rem;
}
.modal-footer button:first-child{
  background: var(--secondary);
  padding:.5rem 1rem;
}
.modal-footer button:last-child{
  background: var(--main-color);
  padding:.5rem 1rem;
}




/* Media Queries */
@media only screen and (max-width: 1100px) {

}
