/* General styles */
*{
  font-family: Raleway;
}
.main-container{
  width:100%;
  padding:6em;
}


/* Navbar styles */
#main-nav{
  width: 100%;
  height:70px;
  background: #fff;
  border-bottom:1px solid #f2f2f2;
}
/* Hero styles */
#hero{
  height: calc(100vh - 70px);
  width:100%;
  background: #fff;
  display: flex;
}
#hero-bg{
  flex:3;
  background-image: url('../hero.svg');
  background-position: center 10px;
  background-size: contain;
  background-repeat: no-repeat;
}
#hero-content{
  flex:2;
  padding: 4.8em 6em;
  display: relative;
}
#hero-content h1{
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #225dde;
}
#hero-content h2{
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 2rem;
  color: #9da2b5;
  font-weight: 400;
}
.heading-border{
  width:75px;
  height:8px;
  background:#225dde;
}
    /* Search form */
.search-form{
  position:absolute;
  width: 450px;
  margin-top:3rem;
}
.search-form svg{
  position: absolute;
  width: 17px;
  height: 17px;
  top: 1.3rem;
  left: 1.3rem;
  fill: #2d56b3;
  z-index: 10;
  transition:all .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.search-form svg.moveup{
  left: calc( 100% - 2rem );
  cursor:pointer;
}
.search-form label{
  position: absolute;
  color: #bbbfcc;
  left: 3.5rem;
  top: 1.1rem;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: text;
  transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.search-form label.moveup{
  position: absolute;
  color:#0f1e3e;
  left: 0.5rem;
  top: -1.9rem;
  font-size:.8rem;
  font-weight: 600;
}
.search-form input{
  width: 100%;
  height: 60px;
  padding:0 2.5em 0 1rem;
  font-weight: 600;
  color: #407bff;
  font-size: 0.9rem;
  border: 1px solid #f0f4fd;
  border-radius: .2rem;
  box-shadow: 0 10px 10px -10px #eaeaea;
  transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.search-form input:focus{
  outline:none;
  border: 1px solid #215cde;
}
.search-form input:hover{

}


/* Categories style */
.main-section{
  height:100vh;
}
.section-title{
  text-align: center;
}
.section-title>h1{
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #4a5161;
}
.section-title .heading-border{
  display: inline-block;
  background: #4e73c3;
  height: 6px;
}




/* Media Queries */
@media only screen and (max-width: 1100px) {

}
